.softskills__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}
.softskills{
    background: var(--color-bg-variant);
    border-radius:  0 0 2rem 2rem;
    border: 1px solid var(--color-primary);
    height: fit-content;
    transition: var(--transition);

}

.softskills:hover{
    background:transparent;
    border-color: var(--color-primary-variant);;
    cursor: default;
}
.softskills__head{
    background: var(--color-primary);
    padding: 2rem;
    border-radius:  0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.softskills__head h3{
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}
.softskills__list {
    padding: 2rem;
}
.softskills__list li{
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}
.softskills__list-icon{
    color: var(--color-primary);
    margin-top: 2px;
}
.softskills__list p{
    font-size: 1rem;
}




@media screen and (max-width: 1024px) {
    .softskills__container{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .softskills{
       height: auto;

    }
    .hardskills__content{
        padding:1rem ;

    }
}

@media screen and (max-width: 600px) {
    .softskills__container{
    grid-template-columns: 1fr;
    gap: 1.5rem;
    }
}
