header{
    height: 110vh;
    padding-top:5rem ;
    overflow: hidden;
}
.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}
.CTA{
margin-top: 2.5rem;
display: flex;
gap: 1.2rem;
justify-content: center;
}
.header__socials{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 1rem;
  bottom: 4rem;
} 
.Me{
background: linear-gradient(var(--color-primary),transparent) ;
width: 22rem;
height: 20rem;
position:absolute;
left: calc(50% - 11rem);
margin-top: 4rem;
border-radius: 12rem 12rem 0 0;
overflow: hidden;
padding: 0 1.5rem 1.5rem 1.5rem;
animation: none;
}
.Me:hover{
    animation: Me 2s ease-out ;

}
  @keyframes Me  {
    0% {
      transform: scale( 1,1);
    }
    50% {
      transform: scale(1.2,1.2);
    }
    100% {
      transform: scale( 1,1);
    }
  }
.scroll__down{  
position: absolute;
right:8.2rem;
bottom: 3rem;
transform: rotate(90deg);
font-weight: 300 ;  
font-size: 0.9rem;  
}

@media screen and (max-width: 1024px) {
    .header{
        height: 68vh ;
    }
}

@media screen and (max-width: 600px) {
    .header{
        height: 100vh ;
    }
    .header__socials, .scroll__down{
        display: none;
    }
}
