.container.testimonials__container{
    width: 50%;
}
.client__avatar{
    width: 9rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.5rem solid var(--color-primary-variant);
}
.testimonial{
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}
.client__review{
    color: var(--color-light);
    font-weight:300 ;
    display: block;
    width:80% ;
    margin: 0.8rem auto 0;
    font-family: cursive;
}
.client__job{
    color: var(--color-bg-primary);
    font-size: 0.7rem;
}

@media screen and (max-width: 1024px) {
   .container.testimonials__container{
    width: 60%;
   }
}

@media screen and (max-width: 600px) {
    .container.testimonials__container{
        width: var(--container-width-sm);
       }
       .client__review{
        width: var(--container-width-sm);
       }
}
